---
layout: base-layout.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---

<style>
body {
  background-size: cover;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(/stuff/404.jpg);
  min-height: 100vh;
}
header {
  color: #000;
  font-family: var(--sans);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
}
#content {
  padding: 0 16px;
  max-width: 600px;
  margin: 0 auto;
}
#content a, #content  a:hover, #content a:visited {
  color: inherit;
  text-decoration: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.5);
}
#content a:hover {
  color: rgba(0,0,0,0.5);
}
</style>


<header>
  {% include "nav-layout.njk" %}
  <div id="content">
    <p>Nah! This page does not exist. 😔 <a href="/" style="margin-left: 16px;">Go home</a></p>
  </div>
</header>