---
layout: content-base-layout.njk
pagination:
  data: collections.posts
  size: 5
  reverse: true
  alias: posts
---
<style>
  main {
    background: none;
    color: white;
    box-shadow: none;
  }
  
  #postSection {
    padding: 0 8px 16px;
    max-width: 600px;
    margin: 0 auto;
  }

  #creationSection {
    padding: 8px;
    text-align: center;
    margin-top: 30px;
  }

  a.inline-link, a.inline-link:hover, a.inline-link:visited {
    color: inherit;
    display: inline-block;
    text-decoration: none;
    outline: none;
    text-transform: lowercase;
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    border-bottom: 5px solid var(--highlight-blue);
  }

  .morePanel {
    padding: 24px 0 16px;
    text-align: center;
  }

  @media(max-width: 600px) {
    .welcome-message {
      margin-top: 0;
    }
  }
</style>

<section id="postSection">
  <p class="welcome-message">
    👋🏽 Hi, I'm Preet. I write code for a living, and for fun. I focus mostly on the fun parts on this website. Here are some of my recent blog posts 👇
  </p>

  {% for post in posts %}
  <a class="card-link" href="{{ post.url | url }}" aria-label="Read more about {{ post.data.title }}">
    <article class="cardpost horizontal layout" style="{{ post.data.themebg | transparentize }} --card-fg:{{ post.data.themefg }};">
      <div class="card-image" style="background-image: url({{ post.data.image }});">
        <div class="card-gradient"></div>
      </div>
      <div class="flex card-content">
        <div class="card-title">{{ post.data.title }}</div>
        <div class="card-description">
          {{ post.data.description }}
        </div>
        <div class="horizontal layout center card-footer">
          <time class="flex" datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
        </div>
      </div>
    </article>
  </a>
  {% endfor %}
  <div class="morePanel">
    <a class="inline-link" href="/posts/">view all posts</a>
  </div>
</section>

<section id="creationSection">
  <div style="max-width: 600px; margin: 0 auto; text-align: left;">
    <p class="welcome-message">
      And sometimes I make things. Here are some recent creations 👇
    </p>
  </div>

  <div class="creations-panel horizontal layout center wrap">
  {% for post in links | reverse %}
    {% if loop.index0 < 3 %}
      <article class="creation-card" style="{{ post.themebg | transparentize }} --card-fg:{{ post.themefg }}; background-image: url({{ post.image }});">
        <div class="creation-card-glass"></div>
        <a class="card-link" href="{{ post.url | url }}" aria-label="Read more about {{ post.title }}">
          <div class="card-title">{{ post.title }}</div>
          <div class="card-description">{{ post.description }}</div>
        </a>
      </article>
    {% endif %}
  {% endfor %}
  </div>
  <div class="morePanel">
    <a class="inline-link" href="/creations">view all creations</a>
  </div>
</section>