---
layout: base-layout.njk
pagination:
  data: collections.posts
  size: 5
  reverse: true
  alias: posts
---

{% set css %}
header {
  background: var(--darkest);
  color: #FFFFFF;
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1.5;
  min-height: 60vh;
}
h1 {
  margin: 0;
  font-weight: 300;
  font-size: 3rem;
  line-height: 1.35;
  letter-spacing: 1px;
}
#headerMessage {
  padding: 1rem 0;
}
#headerMessage a, #headerMessage  a:hover, #headerMessage a:visited {
  color: inherit;
  text-decoration: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.75);
}
#headerContent {
  max-width: 980px;
  margin: 0 auto;
  padding: 14px;
}
canvas {
  display: block;
}
#rangeContainer {
  padding: 16px 0px;
  visibility: hidden;
}

input[type=range] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 8px 0;
  -webkit-appearance: none;
  background: #ffffff;
  outline: none;
  position: relative;
  pointer-events: auto;
  height: 6px;
  border-radius: 5px;
  touch-action: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: #ffffff;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-moz-focus-outer {
  outline: none;
  border: 0;
}
input[type=range]::-moz-range-thumb {
  border-radius: 50px;
  background: #2c77f6;
  cursor: pointer;
  border: 2px solid #fff;
  margin: 0;
  height: 20px;
  width: 20px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50px;
  background: #2c77f6;
  cursor: pointer;
  border: 2px solid #fff;
  height: 22px;
  width: 22px;
  margin: 0;
}

@media(hover:hover) {
  #headerMessage  a:hover {
    color: rgba(255,255,255,0.75);
  }
}

main {
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  max-width: 1470px;
  width: 93.3333333333%;
  margin: 0 auto;
  padding: 2rem 0;
}
.titleLinkPanel {
  max-width: 580px;
}
.titleLink {
  margin: 0;
  font-weight: 300;
  font-size: 1.75rem;
}
section {
  border-bottom: 1px solid #e5e5e5;
}
main a, main  a:hover, main a:visited {
  color: inherit;
  text-decoration: none;
  outline: none;
  border: none;
}
.descLink {
  display: inline-block;
}
.datePanel {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 28px 14px 0 0;
  font-size: 0.8em;
}
.textPanel {
  padding: 28px 14px 28px 0px;
}
.imagePanel {
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
}
.imagePanel img {
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 28px 0;
  transition: transform 0.28s ease;
}
header label {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.25px;
  opacity: 0.8;
  padding-left: 6px;
  display: block;
}
#radioPanel {
  padding: 0 8px;
}
#radioPanel input {
  display: block;
  margin: 0;
}
#faceImage {
  display: block;
}
#facePanel {
  padding-right: 36px;
}
.link-icon {
  width: 34px;
  height: 34px;
  color: white;
  margin-left: 16px;
}

@media(hover:hover) {
  main a:hover {
    color: rgba(0,0,100,0.5);
  }
  .imagePanel img:hover {
    transform: scale(1.1);
  }
}
@media(max-width: 780px) {
  .datePanel {
    display: none;
  }
  #headerContent.horizontal {
    flex-direction: column;
  }
  #facePanel {
    padding: 0 0 36px;
    max-width: 300px;
    margin: 0 auto;
  }
  #titlePanel {
    justify-content: center;
  }
}
@media(max-width: 580px) {
  .titleLink {
    font-size: 1.4em;
  }
  .textPanel {
    font-size: 1rem;
    padding: 18px 0 28px;
  }
  section.horizontal {
    flex-direction: column-reverse;
  }
  .imagePanel {
    display: none;
  }
  h1 {
    font-size: 30px;
  }
  header {
    font-size: 1em;
  }
}
{% endset %}
<style>
  {{ css | cssmin | safe }}
</style>

<header class="vertical">
  {% include "nav-layout.njk" %}
  <span class="flex"></span>
  <div id="headerContent" class="horizontal">
    <div id="facePanel">
      <img id="faceImage" decoding="async" alt="Preet Shihn" loading="lazy" src="/stuff/face.jpg" width="300" height="300">
      <canvas style="display: none;" id="legraCanvas" width="300" height="300"></canvas>
      <stippled-image style="display: none;" src="/stuff/face.jpg" width="300" height="300" color="#FFFFFF" radius="1"></stippled-image>
      
      <div id="rangeContainer">
        <input id="range" aria-label="Image resolution" type="range" min="6" max="30" value="18">
      </div>
      <div id="radioPanel" class="horizontal center spaced">
        <div class="horizontal center">
          <input type="radio" id="rNormal" name="rStyle" value="normal" checked>
          <label for="rNormal">Normal</label>
        </div>
        <div class="horizontal center">
          <input type="radio" id="rLego" name="rStyle" value="lego">
          <label for="rLego">Lego</label>
        </div>
        <div class="horizontal center">
          <input type="radio" id="rDots" name="rStyle" value="stippled">
          <label for="rDots">Stippled</label>
        </div>
      </div>
      
    </div>
    
    <div class="flex">
      <div id="titlePanel" class="horizontal center">
        <h1>👋🏽 Hi, I'm Preet</h1>
        <a href="https://twitter.com/preetster" aria-label="Twitter">{% include "twitter-icon.njk" %}</a>
        <a href="https://github.com/pshihn" aria-label="Github">{% include "github-icon.njk" %}</a>
      </div>
      <div id="headerMessage">
        <p>
        I write code for a living, and for fun. I focus mostly on the fun parts on this website. 
        A bit more <a href="/about" aria-label="about me">about me here</a>. 
        I created this site to force myself to write, and I am not sure how well that's going. 😅
        </p>
        <p>You can check out my projects under <a href="/creations">creations</a> and all my blog posts under <a href="/posts">writings</a>.
        Here are some of the recent ones 👇</p>
      </div>
    </div>
  </div>
  <span class="flex"></span>
</header>

<main>
{% for post in posts %}
<section class="horizontal" >
  <div class="datePanel">
    <time datetime="{{ post.data.date | dateIso }}">{{ post.data.date | dateReadable }}</time> 
    {% set wc = post.templateContent | striptags | wordcount %}
    {% set wPerMinute = wc / 240 %}
    <div>
      {{ wPerMinute | round }} min read
    </div>
  </div>
  <div class="textPanel flex">
    <div class="titleLinkPanel">
      <a class="titleLink" href="{{ post.url | url }}">{{ post.data.title }}</a>
    </div>
    <p>
      <a class="descLink" href="{{ post.url | url }}">{{ post.data.description }}</a>
    </p>
  </div>
  <div class="imagePanel">
    <a href="{{ post.url | url }}">
      <img loading="lazy" width="{{post.data.headerImageWidth}}" height="{{post.data.headerImageHeight}}" src="{{ post.data.headerImage }}" alt="{{post.data.title}}">
    </a>
  </div>
</section>
{% endfor %}
<section class="horizontal" style="border: none;" >
  <div class="datePanel">
  </div>
  <div class="textPanel flex">
    <div class="titleLinkPanel">
      <a class="titleLink" href="/posts">View All Posts →</a>
    </div>
  </div>
  <div class="imagePanel">
  </div>
</section>
</main>

{% include "footer-layout.njk" %}

<script defer src="/scripts/home.min.js"></script>