---
layout: base-layout.njk
pagination:
  data: collections.post
  size: 500
  reverse: true
  alias: posts
---
<style>
main {
  padding: 16px 16px 32px;
  max-width: 670px;
  margin: 0 auto;
  background: none;
  color: white;
  box-sizing: border-box;
  box-shadow: none;
  font-size: 20px;
}

main p {
  margin: 1.2em 0;
}

main h2 {
  background: var(--highlight-blue);
  font-weight: 400;
  color: white;
  display: inline-block;
  padding: 8px;
  border-radius: 3px;
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 1em;
}

main a, main a:hover, main a:visited {
  color: inherit;
  outline: none;
  border: none;
  text-decoration: none;
  border-bottom: 2px solid var(--highlight-blue);
}

#coverImage {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 32px 0;
  border-radius: 10px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

@media(max-width: 600px) {
  main {
    font-size: 16px;
  }
}
</style>
<img id="coverImage" alt="Preet shihn" src="/stuff/photo2.jpg">
{{ content | safe }}