<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include "metadata.njk" %}
  <link rel="stylesheet" href="/css/site.css">
</head>

<body>
   {{ content | safe }}
   <footer class="horizontal layout center">
    <a href="/"><img class="userImage" alt="Preet shihn" src="/stuff/photo.jpg"></a>
    <a href="/">Preet Shihn</a>
    <div class="flex"></div>
    <div class="horizontal layout center social">
      <a href="https://twitter.com/preetster" title="Twitter"><img alt="Twitter" src="/stuff/icons/twitter.png"></a>
      <a href="https://github.com/pshihn" title="Github"><img alt="Github" src="/stuff/icons/github.png"></a>
      <a href="" title="RSS"><img alt="RSS" src="/stuff/icons/rss.png"></a>
    </div>
  </footer>
</body>

</html>