---
layout: base-layout.njk
---

<style>
header {
  padding: 8px 5px;
  line-height: 1;
}

main {
  background: #fafafa;
  padding: 32px 10px;
  color: #08080B;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  min-height: calc(100vh - 105px);
  box-sizing: border-box;
}
header a, header a:hover, header a:visited {
  outline: none;
  text-decoration: none;
  color: inherit;
  border: none;
}
article {
  max-width: 800px;
  margin: 0 auto;
}
#timePanel {
  margin: 8px 0 12px;
  font-size: 12px;
  color: #808080;
  text-align: center;
}
h1, h2, h3, h4 {
  font-weight: 400;
  color: var(--highlight-pink);
  font-family: Georgia, serif;
  letter-spacing: 1px;
}
h1 {
  text-align: center;
  font-size: 2.4em;
  font-weight: 400;
  margin: 0;
}

#articleBody {
  margin: 36px auto 0;
}
#articleBody h2,
#articleBody h3 {
  max-width: 680px;
  margin: 1em auto;
}
#articleBody p {
  max-width: 680px;
  margin: 0px auto 28px;
}
#articleBody h3 {
  font-size: 1.2em;
}
#articleBody h2 {
  font-size: 1.35em;
}
#articleBody a, #articleBody a:hover, #articleBody a:visited {
  text-decoration: none;
  outline: none;
  border: none;
  box-shadow: 0 2px var(--highlight-blue);
  color: inherit;
}
#articleBody blockquote {
  background: #f5f5f5;
  padding: 0.5em 1em;
  font-style: italic;
  border-radius: 5px;
}
#articleBody figure {
  margin: 1.5em 0 2em;
  text-align: center;
  font-size: 14px;
  color: #555;
  font-weight: 300;
}
#articleBody figure img{
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}
#articleBody figure video{
  max-width: 100%;
  box-sizing: border-box;
}

@media(hover: hover) {
  #articleBody a:hover {
    box-shadow: 0 2px var(--highlight-blue);
  }
}

@media(max-width: 1000px) {
  #articleBody h2,
  #articleBody h3,
  #articleBody p {
    max-width: 520px;
  }
}

@media(max-width: 600px) {
  a.navlink {
    padding: 8px 5px;
    letter-spacing: 0.5px;
  }
  h1 {
    font-size: 2em;
  }
  article {
    font-size: 16px;
  }
  #articleBody blockquote {
    margin: 1em 0;
  }
  #articleBody pre[class*="language-"] {
    padding: 0.5em;
  }
  #articleBody code[class*="language-"],
  #articleBody pre[class*="language-"] {
    font-size: 12px;
    line-height: 1.5;
  }
}

</style>

<header>
  <div id="headerMain" class="horizontal layout center">
    <a href="/" id="siteName"><span>shihn.ca</span> ⚡️</a>
    <div class="flex"></div>
    <div class="horizontal layout center navlink-bar">
      <a class="navlink{% if page.url == '/posts/' %} selected{% endif %}" href="/posts/">Writings</a>
      <a class="navlink{% if page.url == '/creations/' %} selected{% endif %}" href="/creations/">Creations</a>
      <a class="navlink{% if page.url == '/about/' %} selected{% endif %}" href="/about/">About</a>
    </div>
  </div>
</header>
<main>
{{ content | safe }}
</main>