footer {
  background: var(--footer-bg, var(--darkest));
  color: var(--footer-fg, #ffffff);
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
  line-height: 1;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-top: 6rem;
}
#footerInner {
  max-width: 1470px;
  width: 93.3333333333%;
  margin: 0 auto;
  padding: 1.666667rem 0;
}
footer a, footer a:hover, footer a:visited {
  color: inherit;
  text-decoration: none;
  outline: none;
}
footer .userImage {
  display: block;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  margin: 0 16px 0 8px;
}
footer .social {
  line-height: 1;
}
footer .social>a {
  padding: 2px 5px;
  margin-left: 16px;
}
footer .social>a:first-child {
  margin-left: 8px;
}
footer ul {
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.15em;
  list-style: none;
  padding: 0;
  margin: 18px 0 0;
}
footer li {
  margin-right: 16px;
}
footer .link-icon {
  margin: 0;
  width: 30px;
  height: 30px;
}

@media(max-width: 580px) {
  #footerInner.horizontal {
    flex-direction: column-reverse;
    align-items: initial;
  }
  footer .social {
    padding: 0 0 48px;
  }
  footer ul {
    margin: 24px 0 0;
  }
}
@media(max-width: 360px) {
  footer .userImage {
    display: none;
  }
}