<title>{%- if title -%}{{ title }} | shihn.ca{%- else -%}Preet's website{%- endif -%}</title>

<meta name="description" content="{%- if description -%}{{ description }}{%- else -%}Collection of posts and projects related to technology, web development, and some other things.{%- endif -%}">
<meta property="og:type" content="{%- if tags -%}article{%- else -%}website{%- endif -%}">
<meta property="og:url" content="https://shihn.ca{{ page.url }}">
<meta property="og:title" content="{%- if title -%}{{ title }} | shihn.ca{%- else -%}Preet's website{%- endif -%}">
<meta property="og:description" content="{%- if description -%}{{ description }}{%- else -%}Collection of posts and projects related to technology, web development, and some other things.{%- endif -%}">
<meta property="og:image" content="{%- if imagefull -%}https://shihn.ca{{ imagefull }}{% elif image %}https://shihn.ca{{ image }}{%- else -%}https://shihn.ca/stuff/photo.jpg{%- endif -%}">
<meta property="og:image:width" content="{%- if imageWidth -%}{{ imageWidth }}{%- else -%}128{%- endif -%}">
<meta property="og:image:height" content="{%- if imageHeight -%}{{ imageHeight }}{%- else -%}128{%- endif -%}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@preetster">
<meta name="twitter:title" content="{%- if title -%}{{ title }} | shihn.ca{%- else -%}Preet's website{%- endif -%}">
<meta name="twitter:description" content="{%- if description -%}{{ description }}{%- else -%}Collection of posts and projects related to technology, web development, and some other things.{%- endif -%}">
<meta name="twitter:image" content="{%- if imagefull -%}https://shihn.ca{{ imagefull }}{% elif image %}https://shihn.ca{{ image }}{%- else -%}https://shihn.ca/stuff/photo.jpg{%- endif -%}">
<meta name="twitter:image:width" content="{%- if imageWidth -%}{{ imageWidth }}{%- else -%}128{%- endif -%}">
<meta name="twitter:image:height" content="{%- if imageHeight -%}{{ imageHeight }}{%- else -%}128{%- endif -%}">

<link rel="icon" href="/stuff/fav.jpg" type="image/jpeg">