---
layout: content-base-layout.njk
---
<link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
<article>
  <h1>{{ title }}</h1>
  <div id="timePanel">
    <time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time> 
  </div>
  <div id="articleBody">
  {{ content | safe }}
  </div>
</article>

