---
layout: base-layout.njk
---

{% set css %}
  {% include "prism-vs.css" %}
  {% include "post.css" %}
{% endset %}
<style>
  {{ css | cssmin | safe }}
</style>

<article>
  <header class="vertical">
    {% include "nav-layout.njk" %}

    <div id="headerContent" class="flex">
      <div id="headerImageCell">
        <img loading="lazy" decoding="async" width="{{headerImageWidth}}" height="{{headerImageHeight}}" src="{{ headerImage }}" alt="{{title}}">
      </div>
      <div id="headerTextCell" class="flex vertical">
        <div class="flex" style="max-width: 700px;">
          <h1>{{ title }}</h1>
          <p>{{ description }}</p>
        </div>
        <div id="byline">
          <time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time> 
          {% set wc = content | striptags | wordcount %}
          {% set wPerMinute = wc / 240 %}
          <div>
            {{ wPerMinute | round }} minute read
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <main>
    <section class="content">
      {{ content | safe }}
    </section>
    <table-of-contents></table-of-contents>
  </main>
  
  {% include "footer-layout.njk" %}
</article>

<script async defer src="/scripts/post.min.js"></script>