---
layout: base-layout.njk
---
<article>
  <h1>{{ title }}</h1>
  <div id="timePanel">
    <time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time> 
  </div>
  <div id="articleBody">
  {{ content | safe }}
  </div>
</article>

