---
layout: content-base-layout.njk
pagination:
  data: collections.creation
  size: 500
  reverse: true
  alias: creations
---
<style>
main {
  padding: 32px 8px 48px;
  max-width: 100%;
  margin: 0 auto;
  background: none;
  color: white;
  box-sizing: border-box;
  box-shadow: none;
  text-align: center;
}
@media(max-width: 600px) {
  main {
    padding: 16px 8px 32px;
  }
}
</style>
<div class="creations-panel horizontal layout center wrap">
{% for post in creations %}
  <article class="creation-card" style="{{ post.data.themebg | transparentize }} --card-fg:{{ post.data.themefg }}; background-image: url({{ post.data.image }});">
    <div class="creation-card-glass"></div>
    <a class="card-link" href="{{ post.url | url }}" aria-label="Read more about {{ post.data.title }}">
      <div class="card-title">{{ post.data.title }}</div>
      <div class="card-description">{{ post.data.description }}</div>
    </a>
  </article>
{% endfor %}
</div>
