---
layout: base-layout.njk
pagination:
  data: collections.creation
  size: 500
  reverse: true
  alias: creations
---
<style>
main {
  padding: 16px 8px;
  max-width: 690px;
  margin: 0 auto;
  background: none;
  color: white;
  box-sizing: border-box;
  box-shadow: none;
  text-align: center;
}
@media(max-width: 600px) {
  main {
    padding: 0px 8px;
  }
}
</style>
CREATIONS!
<div>
{% for post in creations %}
  <article class="creation-card">
    <section class="creation-card-image" style="background-image: url({{ post.data.image }});">
      <svg>
        <path class="creation-buffer-path" d="M 0,120 h 300 v -20 z"></path>
      </svg>
    </section>
    <section class="creation-card-body">
      <div class="card-title">{{ post.data.title }}</div>
      <div class="card-description">{{ post.data.description }}</div>
    </section>
  </article>
{% endfor %}
</div>