---
layout: base-layout.njk
pagination:
  data: collections.creation
  size: 500
  reverse: true
  alias: creations
---
<style>
main {
  padding: 16px 8px;
  max-width: 100%;
  margin: 0 auto;
  background: none;
  color: white;
  box-sizing: border-box;
  box-shadow: none;
  text-align: center;
}
@media(max-width: 600px) {
  main {
    padding: 0px 8px;
  }
}
</style>
{% for post in creations %}
  <article class="horizontal layout creation-card" style="--card-bg:{{ post.data.themebg }}; --card-fg:{{ post.data.themefg }};">
    <div class="creation-card-image-cell">
      <div class="creation-card-image" style="background-image: url({{ post.data.image }});"></div>
    </div>
    <div class="creation-card-spacer"></div>
    <div class="creation-card-text-cell">
      <div class="creation-card-text horizontal layout center">
        <span>{{ post.data.description }}</span>
      </div>
    </div>
  </article>
{% endfor %}
