---
layout: content-base-layout.njk
pagination:
  data: collections.posts
  size: 500
  reverse: true
  alias: posts
---
<style>
main {
  padding: 32px 8px 48px;
  max-width: 616px;
  margin: 0 auto;
  background: none;
  color: white;
  box-sizing: border-box;
  box-shadow: none;
}
@media(max-width: 600px) {
  main {
    padding: 16px 8px 32px;
  }
}
</style>
{% for post in posts %}
<a class="card-link" href="{{ post.url | url }}" aria-label="Read more about {{ post.data.title }}">
  <article class="cardpost horizontal layout" style="{{ post.data.themebg | transparentize }} --card-fg:{{ post.data.themefg }};">
    <div class="card-image" style="background-image: url({{ post.data.image }});">
      <div class="card-gradient"></div>
    </div>
    <div class="flex card-content">
      <div class="card-title">{{ post.data.title }}</div>
      <div class="card-description">
        {{ post.data.description }}
      </div>
      <div class="horizontal layout center card-footer">
        <time class="flex" datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
      </div>
    </div>
  </article>
</a>
{% endfor %}